@model IEnumerable<RFIDLogger.RfIdReader>
@{
    ViewBag.Title = "FilteredView";
}

<h2>Filtered view</h2>
<hr />

<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />

<div class="form-group">
    <div>
        @Html.Label("Start date: ", new { @class = "control-label col-md-2" })
        <input type="text" id="txtStartDate" class="form-control datepicker" placeholder="tuten datum" />
    </div>
</div>


<div class="form-group">
    <div>
        @Html.Label("End date: ", new { @class = "control-label col-md-2" })
        @Html.Editor("txtEndDate", new { @id = "txtEndDate", @class = "form-control" })
    </div>
</div>

<div class="form-group">
    <div>
        @Html.Label("Name: ", new { @class = "control-label col-md-2" })
        @Html.Editor("txtName", new { @id = "txtName", @class = "form-control" })
    </div>
</div>

<div class="form-group">
    <div>
        @Html.Label("Surname: ", new { @class = "control-label col-md-2" })
        @Html.Editor("txtSurname", new { @id = "txtSurname", @class = "form-control" })
    </div>
</div>

<div class="form-inline">
    <div>
        @Html.Label("Reader location: ", new { @class = "control-label col-md-2" })
        @Html.Editor("txtLocation", new { @id = "txtLocation", @class = "form-control" })

        @{
            List<SelectListItem> selectListItemList = new List<SelectListItem>();
            selectListItemList.Add(new SelectListItem { Text = " --- ", Value = "-1", Selected = true });
            Model.ToList().ForEach(x => selectListItemList.Add(new SelectListItem { Text = x.Location, Value = (x.IDReader).ToString() }));
            @Html.DropDownList("ddlLocations", selectListItemList, new { @id = "ddlLocations", @class = "form-control inline-element" });
        }
    </div>
</div>

@*<div class="form-group">
        @Html.LabelFor(model => model.RfIdReaderId, "RfIdReaderId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("RfIdReaderId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RfIdReaderId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EntryTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EntryTime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EntryTime, "", new { @class = "text-danger" })
        </div>
    </div>*@

<div class="form-group">
    <div class="col-md-2">
        <button id="btnFilter" class="btn btn-default">Filter</button>
    </div>
</div>

